@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { 
    font-family : "Poppins", serif;
    background-color: black;
}

/* Myworks section starts*/
#skill-section {
    background-image: url('../src/images/bg_4.png');
    background-size: cover;
    background-position: center;
    color: white;
}
.card{
    width: 22rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 225, 225, 0.362);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(19, 3, 3, 0.3);
}
.works{
    display: flex;
    gap: 80px;
}
.card-body{
    gap: 10px;
}
.card-title{
    font-size: 26px;
    /* width: 80px; */
}
.card-text{
    font-size: 20px;
}
.card-title1 {
    font-size: 26px;
    /* width: 80px; */
}
.card-img-top{
    border-radius: 40px;
    padding: 10px;
}
.third h1{
    color: #FF006A;
}
.third h1 span{  
    color: white;
}
.btn{
    background: #FF006A;
    color: #FFCEE3;
}
.btn:hover{
    background: #FFCEE3;
    color: #FF006A;
    transition-duration: 0.5s;
}
.head1{
    font-size: 26px;
}
.para{
    font-size: 20px;
}
/* Myworks section ends*/


/*Footer section starts*/
.third h5{
    color: #FF006A;
}
.third h5 span{  
    color: white;
}
.bi1{
    color: #FF006A;
}
.fourth{
    color: #FF006A;
}
.para1{
    font-size: 24px;
}
.con{
    font-size: 16px;
}

/*Footer section ends*/